# === CLANGD SETTINGS ===
# Clangd - C++ formatting and code analysis engine
# This file configures clangd for the project

# Common settings for all platforms
CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++20

# macOS specific settins
If:
  Platform: mac
Then:
  CompileFlags:
    Add:
      - -stdlib=libc++
      - -target
      - arm64-apple-macos

Diagnostics:
  UnusedIncludes: None

Index:
  Background: Build
